@import '../../sass/css-reset.scss';

.navigation {
   position: fixed;
   top: 0;
   min-height: 3.25rem;
   background: transparent;
   width: 100%;
   z-index: 100;
}

.nav-section {
   display: none;
   &.is-active {
      display: block;
   }
}

.navbar-menu--btn {
   position: absolute;
   top: 25px;
   right: 5px;
   outline: none;
   border: none;
   background: transparent;
   width: 35px;
   margin-left: auto;
   cursor: pointer;
   span {
      display: block;
      margin-bottom: 5px;
      height: 2px;
      background: #000;
      width: 100%;
      &:last-child {
         margin-bottom: 0;
      }
   }
}

.navigation > .flex-item {
   display: flex;
}

.navbar-menu__container {
   width: 100%;
   padding: 0.5rem 2rem;
   background: #fff;
   .navbar-brand {
      padding: 8px 0;
      order: -1;
      justify-content: center;
   }
}

.navbar-menu__item {
   margin-bottom: 7px;
   border-bottom: 1px solid #777;
   padding: 15px 0;
   a {
      color: #000;
      font-size: 15px;
      font-weight: 400;
   }
}

.navbar-menu__cta {
   @include button-reset;
   display: block;
   margin: 1.5rem auto;
   border-radius: 3px;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   padding: 10px 35px;
   background: $primary-green;
   cursor: pointer;
}

@media screen and (min-width: 767px) {
   .navbar-menu--btn {
      display: none;
   }
   .navbar-menu__item {
      border: none;
      margin: 0;
      margin-right: 15px;
      padding: 0;
      &:last-child {
         margin: 0;
      }
   }
   .nav-section {
      display: flex;
      align-items: center;
      &.flex-right {
         order: 3;
      }
      &.flex-left {
         margin-right: auto;
      }
   }
   .navbar-menu__container {
      display: flex;
      align-items: center;
      justify-content: center;
      .navbar-brand {
         margin: 0 auto;
         order: 1;
      }
   }
   .navbar-menu__cta {
      margin: 0;
   }
}