@import '../../sass/css-reset.scss';

.navigation {
   position: fixed;
   top: 0;
   min-height: 3.25rem;
   background: transparent;
   width: 100%;
   z-index: 100;
}

.navbar-menu--btn {
   position: absolute;
   top: 15px;
   right: 5px;
   outline: none;
   border: none;
   background: transparent;
   width: 35px;
   margin-left: auto;
   cursor: pointer;
   span {
      display: block;
      margin-bottom: 5px;
      height: 2px;
      background: #000;
      width: 100%;
      &:last-child {
         margin-bottom: 0;
      }
   }
}

.navigation > .flex-item {
   display: flex;
}

.navbar-menu__container {
   width: 100%;
   padding: 0 2rem;
   background: #fff;
   .navbar-brand {
      order: -1;
      justify-content: center;
   }
}

.navbar-menu__item {
   margin-bottom: 7px;
   border-bottom: 1px solid #777;
   padding: 15px 0;
   a {
      color: #000;
      font-size: 15px;
      font-weight: 400;
   }
}

.navbar-menu__cta {
   outline: none;
   border: none;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   display: block;
   margin: 1.5rem auto;
   padding: 10px 35px;
   background: $primary-green;
   cursor: pointer;
}