@import '../../sass/css-reset.scss';

.section--gradient {
   padding: 4rem 1.5rem;
   p {
      color: #000;
   }
}

.promo-section {
   padding: 2rem 0;
   text-align: center;
   .title {
      font-size: 20px;
      color: #000;
   }
   p {
      margin-bottom: 20px;
      letter-spacing: -1px;
      font-size: 17px;
      color: #333;
      &:last-child {
         margin-bottom: 0;
      }
   }
   button {
      @include button-reset;
      padding: 12px 20px;
      font-size: 16px;
      border: 1px solid #000;
      border-radius: 3px;
      &:hover {
         background: $primary-green;
         color: #fff;
      }
   }
}

.index__landing {
   hr {
      height: 1px;
      margin-bottom: 0;
      background: #ddd;
   }
}

.index__hero {
   margin-top: 2rem;
   padding: 5rem 2rem;
   background: $secondary-green;
   background-position: 100% -50%;
}

.index-hero__header {
   text-align: center;
   h3 {
      color: #333;
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 10px;
   }
   .detail {
      font-size: 16px;
      color: #333;
   }
}

.index-hero__cta {
   @include button-reset;
   padding: 15px 25px;
   margin: 25px auto 0;
   border-radius: 3px;
   font-weight: 500;
   display: block;
   font-size: 16px;
   color: #fff;
   background: $primary-green;
}

// Contact page
.contact__template {
   padding: 5rem 1.5rem;
   .title {
      font-size: 32px;
      color: #000;
      margin-bottom: 20px;
   }
}

.contact__body {
   p {
      margin-bottom: 15px;
      font-size: 17px;
   }
   a {
      color: lightseagreen;
      font-weight: bold;
      letter-spacing: -1px;
   }
}

@media screen and (min-width: 767px) {
   .promo-section {
      padding: 2rem 4rem;
      text-align: left;
      .title {
         font-size: 30px;
      }
   }
   .contact__template {
      padding: 8rem;
   }
   .index__landing {
      .flex-item {
         width: 50%;
      }
      hr {
         width: 50%;
         margin: 0 auto;
      }
   }
   .index__hero {
      padding: 7rem 2rem;
      background-position: 100% 0;
   }
   .index-hero__header {
      max-width: 50%;
      margin: 0 auto;
      text-align: left;
      .detail {
         font-size: 18px;
         color: #777;
      }
      h3 {
         font-size: 38px;
      }
   }

   .index-hero__cta {
      margin: 25px 0;
   }

   .promo__inner--text {
      padding: 4rem;
      max-width: 50%;
      margin: 0 auto;
      text-align: center;
      p {
         font-size: 24px;
      }
   }
}